<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="static/js/reconnecting-websocket.min.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
 <h1> {{title}} </h1>
 {% if mouse_keyboard %}
  <table id="myMouse_Keyboard" border = 1>
  {% for key, value in mouse_keyboard.iteritems() %}
    <tr>
      <th> {{ key }} </th>
      <td> {{ value }} </td>
    </tr>
  {% endfor %}
  </table>
  {% endif %}

<canvas id="myCanvas" width="480" height="320" style="border:1px solid #d3d3d3;">
</canvas>

<article>
  <div id="holder" style="border: 10px dashed #ccc; border-color #000000; width: 300px; min-height: 300px; margin: 20px auto;">
  </div>
  <p id="upload" class="hidden"><label>SELECT<br><input type="file"></label></p> 
  <p>BAR: <progress id="uploadprogress" max="100" value="0">0</progress></p>
</article>

<p id="clock"></p>
<section class="content">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
    {% for message in messages %}
      {{ message }}<br>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
</section>

</body>
<script type="text/javascript" src="static/js/application.js"></script>
<script>
var holder = document.getElementById('holder')
var tests = {
      filereader: typeof FileReader != 'undefined',
      formdata: !!window.FormData,
      //dnd return true if draggable
      dnd: 'draggable' in document.createElement('span'),
      progress: "upload" in new XMLHttpRequest
    }
var progress = document.getElementById('uploadprogress')
var fileupload = document.getElementById('upload');

var acceptedTypes = {
      'image/png': true,
      'image/jpeg': true,
      'image/gif': true
    }

if (tests.dnd) { 
  holder.ondragenter = function () {  
                        this.className = ''; 
			this.style.backgroundColor = "#FFFFFF";
                        this.style.borderColor = "#aaaaee";
                        return false; 
                      };

  holder.ondragover = function () {  
                        //this.className = 'hover'; 
                        //this.style.backgroundColor = "#D93600";
                        return false; 
                      };
  holder.ondragleave =  function () {
                        this.className = '';
                        this.style.backgroundColor = "#FFFFFF";
                        this.style.borderColor = "#000000";

                        return false; 
                      };

  holder.ondragend = function () {  console.log("ondragend");this.className = ''; return false; };
  holder.ondrop = function (e) {
    this.className = '';
    e.preventDefault();
    readfiles(e.dataTransfer.files);
  }
}

fileupload.className = 'hidden';
fileupload.querySelector('input').onchange = function () {
  readfiles(this.files);
}

function encode(input) {
  var keyStr =
          "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
  var output = "";
  var chr1, chr2, chr3, enc1, enc2, enc3, enc4;
  var i = 0;
  while (i < input.length) {
    chr1 = input[i++];
    chr2 = i < input.length ? input[i++] : Number.NaN;
    chr3 = i < input.length ? input[i++] : Number.NaN;
    enc1 = chr1 >> 2;
    enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
    enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
    enc4 = chr3 & 63;
    if (isNaN(chr2)) {
      enc3 = enc4 = 64;
    } else if (isNaN(chr3)) {
      enc4 = 64;
    }
    output += keyStr.charAt(enc1) + keyStr.charAt(enc2) +
              keyStr.charAt(enc3) + keyStr.charAt(enc4);
  }
  return output;
}

function readfiles(files) {
  var formData = tests.formdata ? new FormData() : null;
  for (var i = 0; i < files.length; i++) {
    //console.log(files[i]);
    //if (tests.formdata) formData.append('filename', files[i]);

    //if (tests.formdata) formData.append('filecontent', files[i]);
    //var obj = { name: "John", age: 30, ffff: files[i] };
    //formData.append('filecontent', JSON.stringify(obj));
    previewfile(files[i]);
  }
  if (tests.formdata) {
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/',true);
      xhr.onload = function() {
        progress.value = progress.innerHTML = 100;
      };
 
     if (tests.progress) {
        xhr.upload.onprogress = function (event) {
          if (event.lengthComputable) {
            var complete = (event.loaded / event.total * 100 | 0);
            progress.value = progress.innerHTML = complete;
          }
        }
      }

      xhr.onreadystatechange = function () {
        if(xhr.readyState == 4 && xhr.status == 200) {
           console.log(this.responseText);
           //console.log(JSON.stringify(jqXHR.responseJSON, null, 4));
        }
      }

      console.log("formData contain")
      for (var key of formData.entries()) {
        console.log(key[0] + ', ' + key[1])
      }
      
      //27-
      //var boundary = '---------------------------';
      //boundary += Math.floor(Math.random()*32768);
      //boundary += Math.floor(Math.random()*32768);
      //boundary += Math.floor(Math.random()*32768);
      //xhr.setRequestHeader("Content-Type", 'multipart/form-data; boundary=' + boundary);
      //var body = '';
      //body += '--' + boundary + '\r\n' + 'Content-Disposition: form-data; name="';
      //body += "data";
      //body += '"\r\n\r\n';
      var obj = { name: "John", age: 30, ffff: encode(new Uint8Array(files[0])) };
      //body += JSON.stringify(obj);
      //body += '\r\n'
      //body += '--' + boundary + '--';
      //xhr.setRequestHeader('Content-length', body.length);
      //xhr.setRequestHeader("content-type", "multipart/form-data;;");
      //xhr.setRequestHeader("content-type", "multipart/form-data;");
      //xhr.setRequestHeader("content-type", "text/plain;charset=UTF-8");
      //xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded;charset=UTF-8");
      formData.append('UUID', "123456789");   
      formData.append('filecontent', JSON.stringify(obj));   
      xhr.send(formData);
      aaaa=encode(new Uint8Array(files[0]))
      console.log(aaaa)
      //xhr.send(body);
  }

}

function previewfile(file) {
  if (tests.filereader === true && acceptedTypes[file.type] === true) {
    var reader = new FileReader();
    reader.onload = function (event) {
      var image = new Image();
      image.src = event.target.result;
      image.width = 250; // a fake resize
      holder.appendChild(image);
    };
    //read file now
    reader.readAsDataURL(file);
  }  else {
    holder.innerHTML += '<p>FileName [' + file.name + '] ' + (file.size ? (file.size/1024|0) + 'K' : '');
  }
}
</script>


</html>
