<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="static/js/reconnecting-websocket.min.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
 <h1> {{title}} </h1>
 {% if mouse_keyboard %}
  <table id="myMouse_Keyboard" border = 1>
  {% for key, value in mouse_keyboard.iteritems() %}
    <tr>
      <th> {{ key }} </th>
      <td> {{ value }} </td>
    </tr>
  {% endfor %}
  </table>
  {% endif %}

<canvas id="myCanvas" width="480" height="320" style="border:1px solid #d3d3d3;">
</canvas>

<p id="demo"></p>
</body>
<script type="text/javascript" src="static/js/application.js"></script>
</html>
