<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="static/js/reconnecting-websocket.min.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
 <h1> {{title}} </h1>
 {% if mouse_keyboard %}
  <table id="myMouse_Keyboard" border = 1>
  {% for key, value in mouse_keyboard.iteritems() %}
    <tr>
      <th> {{ key }} </th>
      <td> {{ value }} </td>
    </tr>
  {% endfor %}
  </table>
  {% endif %}

<canvas id="myCanvas" width="480" height="320" style="border:1px solid #d3d3d3;">
</canvas>

<article>
  <div id="holder">
  </div> 

  <p id="upload" class="hidden"><label>Drag & drop not supported, but you can still upload via this input field:<br><input type="file"></label></p>
  <p id="filereader">File API & FileReader API not supported</p>
  <p id="formdata">XHR2's FormData is not supported</p>
  <p id="progress">XHR2's upload progress isn't supported</p>
  <p>Upload progress: <progress id="uploadprogress" max="100" value="0">0</progress></p>
  <p>Drag an image from your desktop on to the drop zone above to see the browser both render the preview, but also upload automatically to this server.</p>
</article>



<p id="clock"></p>
<section class="content">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
    {% for message in messages %}
      {{ message }}<br>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
</section>

</body>
<script type="text/javascript" src="static/js/application.js"></script>
</html>
